{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://192.168.0.134/new.ico">
    <title>MetaProducts</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <link href="http://cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.min.css" rel="stylesheet"/>
      <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.min.css" rel="stylesheet"/>
    <!-- <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script> -->
    <script src="http://www.ziqiangxuetang.com/media/django/csrf.js"></script>
      
    <!-- <script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script> -->
      <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
    <script type="text/javascript">
    $(function(){

        function partial_refresh(ele) {
            ele.click(function(e){
    e.preventDefault();
    var href = $(this).attr("href");
    console.log(href);
    $("#main-content").load(href);
    });
        };
        function getUsername() {
            var username;
            try {
                console.log(document.cookie)
                name1 = document.cookie.split(";")[0].split("=")[1];
                name2 = document.cookie.split(";")[1].split("=")[1]
                if(name1.length>name2.length) {
                    username = name2
                }
                else {username = name1}
            }
            catch(e){
                username = '';
            }
            return username;
        };
        function is_login() {
            var username = getUsername();
            var login= $("#login");
            if(username.length>0){
                console.log(username);
                login.html( username + ", 你好!");
                login.attr({href:'/home/logout'});

            }
        }
        partial_refresh($("#dashboard"));
{#        partial_refresh($("#shops"));#}
        partial_refresh($("#product"));
        is_login();
    });
    </script>
  </head>

  <body>

    <nav class="navbar  navbar-inverse navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="login" href="/home/login">登录</a></li>
            <li><a href="/home/register">注册</a></li>
            <li><a href="#">帮助</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul id="menu" class="nav nav-sidebar">
{#            <li class="active"><a href="/home">开发工具 <span class="sr-only">(current)</span></a></li>#}
            <li ><a id="shops" href="/home/shops" >我的店铺</a></li>
              <li ><a id="kw" href="/home/keywords" >我的关键词</a></li>
              <li ><a id="like" href="/home/like" >我的认领</a></li>
              <li ><a  href="" >推荐产品</a></li>
              <li ><a id="dashboard"  href="/home/dashboard" >个人表现</a></li>
          </ul>
        </div>
        <div  id="main-content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{#        <div class="btn-group">#}
{#  <button type="button" class="btn btn-default">批量操作</button>#}
{#  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    <span class="caret"></span>#}
{#    <span class="sr-only">Toggle Dropdown</span>#}
{#  </button>#}
{#  <ul class="dropdown-menu">#}
{#    <li><a href="#">批量增加</a></li>#}
{#    <li><a href="#">批量删除</a></li>#}
{#    <li><a href="#">批量同步</a></li>#}
{#  </ul>#}
{#</div>#}

          {% block content %} {% endblock %}

        </div>
      </div>
    </div>

    
  </body>
</html>
