{%  extends 'base.html' %}
{% load static %}
{% block content %}
   <script src="{% static 'assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/src/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
    <script src="{% static 'tinytools/exportcsv.min.js' %}"></script>
    <script src="{% static 'tinytools/importcsv.min.js' %}"></script>

    <script>
        function operateFormatter(value, row, index) {
            return [
                    '<a class="add" href="javascript:void(0)" style="margin-left:30px" title="add">',
                    '增加关键字|',
                    '</a>',
                    '<a class="edit" href="javascript:void(0)" style="margin-left:30px" title="edit">',
                    '修改关键字|',
                    '</a>',
                    '<a class="delete" href="javascript:void(0)" style="margin-left:30px" title="delete">',
                    '删除关键字|',
                    '</a>',
                    '<a class="sync" href="javascript:void(0)" style="margin-left:30px" title="sync">',
                    '同步产品|',
                    '</a>',
                    '<a class="view"  target="_blank" href="kwproduct/?kw=' + row.keywords + '" style="margin-left:30px" title="view">',
                    '查看产品',
                    '</a>',
            ].join('');
        };
        operateEvents = {
            'click .sync': function(e,value,row, index) {
                // console.log(value, row, index);
                // console.log(row.id,row.keywords);

                $.ajax({
                    url:'sync_keywords',
                    data:{
                        keywords:row.keywords,
                        id:row.id,
                    },
                    type:'post',
                    dataType:'text',

                });
{#                $('#tab').bootstrapTable('destroy');#}
                // setTimeout(function(){$("[name='refresh']").click()}, 100);
                alert("已经加入待更新队里，请稍后查看！");
                $("[name='refresh']").click()

        },
            'click .add':function(e,value,row,index) {
                // console.log(value, row, index);
                $('#keywords').val('');
                $('#myModal').modal();
                

            },
            'click .edit':function(e,value,row,index) {
                $('#editModal').modal();
                // console.log(value, row, index);
{#                var shopname = $("[data-index='"+index+"']").children().eq(2).text();#}
{#                var feedback = $("[data-index='"+index+"']").children().eq(3).text();#}
{#                var feedback = $("[data-index='"+index+"']").children().eq(3).text();#}
                var keywords = row.keywords;
                var uid = row.id;
                $('#uid').val(uid);
                $("#edit_keywords").val(keywords);

                // console.log(keywords,uid);
            },
            'click .delete': function (e,value, row,index) {
                // console.log(value, row, index);
                var id =row.id;
                $.ajax({
                    url:'delete_keywords',
                    data:{
                        id:id,
                    },
                    type:'post',
                    dataType:'text',

                });
               setTimeout(function(){$("[name='refresh']").click()}, 100);
            },

        };
        $(function () {

            $("#btn_submit").click(function () {
                var kw =$("#keywords").val();

                $.ajax({
                    url:'add_keywords',
                    data:{
                        keywords: kw,

                    },
                    type:'post',
                    dataType:'text',

                });
               setTimeout(function(){$("[name='refresh']").click()}, 100);

            });
            $("#edit_submit").click(function () {
                var kw =$("#edit_keywords").val();
                // console.log(kw);
                var id= $("#uid").val();
                // console.log(id);
                $.ajax({
                    url:'edit_keywords',
                    data:{
                        kw: kw,
                        id: id,
                    },
                    type:'post',
                    dataType:'text',

                });
               setTimeout(function(){$("[name='refresh']").click()}, 100);

            });

            $("#tab").bootstrapTable({
                url:'get_keywords',
                toggle:'table',
                pagination:'true',
                search:'true',
                showRefresh:'true',
                showColumns:'true',
                showExport:'true',
                toolbar:'toolbar',
                clickToSelect:'true',
                pageList: [10, 25, 50, 100, 500, 1000],
                columns:[{
                    field: 'state',
                    checkbox: 'true',
                    title: '编号'
                },{
                    field:'id',
                    visible:false
                },{
                    field:'userid',
                    title: '创建人'
                },{
                    field:'keywords',
                    title:'关键字',
                    editable:true,
                    formatter:'kwFormatter',

                },{
                    field:"curdate",
                    title:'创建日期',
                    sortable:'true'
                },{
                    field:"updatetime",
                    title:'同步日期',
                    sortable:'true'
                },{
                 field:'operate',
                 title:'操作',
                 events: operateEvents,
                 formatter:operateFormatter,
             },]
            });

        })
    </script>
    <script>
    function kwFormatter(value) {
        var head_url = "http://www.ebay.com/sch/i.html?sacat=0&_dmd=1&_nkw=";
        var tail_url = "&rt=nc&LH_BIN=1";
        var kw = value.replace(' ', '+');
        var url = head_url + kw + tail_url;
        var anchor = "<a target='_blank' href='" + url+ "'>" + value +"</a>";
        return anchor;
    }
    </script>
    <script type="text/javascript">
    function getSlectionids(){
        var $table = $('#tab');
        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
        return ids
    };
</script>
    <script type="text/javascript">
    function uploadFile(){

        var $fileupload = document.getElementById('fileupload');
        $fileupload.addEventListener('change',function(){
            if(!$fileupload.value){
                // console.log("no file chosed");
            }
           var file = $fileupload.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                var csvdata = e.target.result;
                // console.log(csvdata);
                var data = $.csv.toObjects(csvdata);
                // console.log(data);
                $.ajax({
                    url: 'addallkw',
                    type: 'post',
                    data: {
                        data:JSON.stringify({'data': data})
                },
                success: function(result){
                    if (result.code){
                        alert('上传出错，请检查上传文件！');
                    }
                    else {
                        $("[name='refresh']").click();
                        alert('上传成功！');
                    }
                }

                });
            };
         reader.readAsText(file);
        });
    };
</script>
    <script type="text/javascript">
    $(function(){
        var $table = $('#tab');
        $("#removeall").click(function(){
       var ids = getSlectionids();
       $.ajax({
        url: 'remove_all_kw',
        data:{
            ids: JSON.stringify({'ids': ids})
        },
        type: "post"
       });
        $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });
    }); 

    $("#addall").click(function(){
        $("#fileupload").click();
        uploadFile();
    }); 

    $("#kwtemplates").click(function(){
        var data = [['keywords']];
        alasql("SELECT * INTO CSV('keywords.csv') FROM ?",[data]);
    });
    });
</script>
    <div class="container">
    <h1>关键词表</h1>
    <div id="toolbar">
        <button id="removeall" class="btn btn-danger radius" >
            <i class="glyphicon glyphicon-trash"></i> 批量删除
        </button>
        <button id="addall" class="btn btn-success radius" >
            <i class="glyphicon glyphicon-plus"></i> 批量增加          
        </button>
        <form method="post" action="http://localhost/test" enctype="multipart/form-data" style="display:none">
        <input id="fileupload" type="file"  accept=".csv">
        </form>

 
         <button id="kwtemplates" class="btn btn-primary radius"  >
            <i class="glyphicon glyphicon-download-alt"></i> 下载模板
        </button>
    
</div>
    <table id="tab" ></table>
    </div>
    


</div>
</div>
    </div>

  </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
          <div class="form-group">

            <label for="txt_departmentname">关键字</label>
            <input type="text" name="txt_kw" class="form-control" id="keywords" placeholder="关键字">
          </div>
            </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
          <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
        </div>
      </div>
    </div>
        </div>
    </div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
          <div class="form-group">

            <label for="txt_departmentname">关键字</label>
            <input type="text" name="edit_keywords" class="form-control" id="edit_keywords" placeholder="关键字">
          </div>
                <div><input type="hidden" name="edit_uid" class="form-control" id="uid" placeholder=""></div>
            </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
          <button type="button" id="edit_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
        </div>
      </div>
    </div>
        </div>
    </div>

{% endblock %}