{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Multiple Sort</title>
    <meta charset="utf-8">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.min.css" rel="stylesheet"/>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>

    <script src="{% static 'assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/src/extensions/multiple-sort/bootstrap-table-multiple-sort.js' %}"></script>
<script src="http://cdn.bootcss.com/bootstrap-table/1.9.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="http://www.ziqiangxuetang.com/media/django/csrf.js"></script>
    <script>
        function proOperateFormatter(value, row, index) {
            return [
                    '<a class="like" href="javascript:void(0)" style="margin-left:10px" title="认领"><button class="btn btn-primary">',
                    '认领产品',
                    '</button></a>',
                    '<a class="remove" href="javascript:void(0)" style="margin-left:10px" title="删除"><button class="btn btn-danger">',
                    '删除产品',
                    '</button></a>',
                    '<a class="watch" href="javascript:void(0)" style="margin-left:10px" title="关注"><button class="btn btn-warning">',
                    '关注店铺',
                    '</button></a>',

            ].join('');
        };
        proOperateEvents = {
            'click .remove' : function (e, row, value, index) {
                console.log(index);
                $.ajax({
                    url:"../delete_product",
                    data:{
                        id: value.id,
                    },
                    type:'post',
                    datatype:'text'
                });
                $("[name='refresh']").click();
            },
            'click .like' : function (e, row, value, index) {
                console.log(index);
                $.ajax({
                    url:"../like_product",
                    data:{
                        id: value.id,
                    },
                    type:'post',
                    datatype:'text'
                });
                setTimeout(function(){$("[name='refresh']").click()}, 100);
            },
            'click .watch' : function (e, row, value, index) {
                console.log(index);
                $.ajax({
                    url:"../watch_shop",
                    data:{
                        id: value.id,
                    },
                    type:'post',
                    datatype:'text'
                });
                setTimeout(function(){$("[name='refresh']").click()}, 100);
            },
        };
        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        $(function () {
            var shop_url = document.URL;
            var shop_name = getParameterByName('shopname', shop_url)
            $('#protab').bootstrapTable({
                    url:'../show_product?name=' + shop_name,
                    
                  toggle:'table',
                    height:800,
                  pagination:'true',
                  showMultiSort:'true',
                  search:'true',
                  showRefresh:'true',
                  showColumns:'true',
                  showExport:'true',
                  toolbar:'toolbar',
                  clickToSelect:'true',
                  pageList: [10, 25, 50, 100, 500, 1000],
                  sortPriority: [{"sortName": "starttime", "sortOrder":"desc"},{"sortName": "quantitysold", "sortOrder":"desc"}],
                  columns:[{
                     field:'state',
                     checkbox:'true',
                 },{
                     field:'galleryurl',
                     title:'图片',
                 },{
                     field:'title',
                     title:"标题",
                     sortable:'true',

                 },{
                     field:'location',
                     title:'发货地址',
                     sortable:'true',
                 },{
                     field:'starttime',
                     title:'上架时间',
                     sortable:'true',
                 },{
                     field:'quantitysold',
                     title:'售出',
                     sortable:'true',

                 },{
                     field:'deltasold',
                     title:'最近售出',
                     sortable:'true',
                     visible:false,
                 },{
                     field:'deltahit',
                     title:'流量变化',
                     sortable:'true',
                     visible:false,
                 },{
                     field:'deltadays',
                     title:'N天内',
                     sortable:'true',
                     visible:false,
                 },{
                     field:'currentprice',
                     title:'售价',
                     sortable:'true',
                 },{
                     field:'currency',
                     title:'货币',
                     sortable:'true',
                     visible:false,
                 },{
                     field:'kw',
                     title:'关键字',
                     sortable:'true',
                     visible:false,
                 },{
                     field:'curdate',
                     title:'创建日期',
                     sortable:'true',
                     visible:false,
                 },{
                     field:'pstatus',
                     title:'标记状态',
                     sortable:true,
                     visible:false,

                 },{
                     field:'operate',
                     title:'操作',
                     events: proOperateEvents,
                     formatter:proOperateFormatter,
                 },{
                     field:'itemid',
                     title:'itmeid',
                     visible:false,
                 },{
                     field:'owner',
                     title:'归属人',
                     visible:false,
                 }]
          });

        })
    </script>
    <script type="text/javascript">
    function getSlectionids(){
        var $table = $('#protab');
        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
        return ids
    };
</script>
<script type="text/javascript">
    $(function(){
        var $table = $('#protab');
        $("#removeall").click(function(){
       var ids = getSlectionids();
       $.ajax({
        url: '../remove_all_product',
        data:{
            ids: JSON.stringify({'ids': ids})
        },
        type: "post"
       });
        $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });
    });
    $('#likeall').click(function() {
        var ids = getSlectionids();
        $.ajax({
            url:'../likeall_product',
           data:{
            ids: JSON.stringify({'ids': ids})
        },
        type: "post"
       });
         setTimeout(function(){$("[name='refresh']").click()}, 100);
        })
    });
</script> 
</head>
<body>
        
        <h1 align="center">店铺产品</h1>
        <div  id="toolbar" style="margin-left : 5%;">
        <button id="removeall" class="btn btn-danger radius" >
            <i class="glyphicon glyphicon-trash"></i> 批量删除
        </button>
        <button id="likeall" class="btn btn-success radius" >
            <i class="glyphicon glyphicon-heart"></i> 批量认领          
        </button>
        </div >
        <form method="post" action="http://localhost/test" enctype="multipart/form-data" style="display:none">
        <input id="fileupload" type="file"  accept=".csv">
        </form>
        
    </div>
    <div style="margin-left : 5%; margin-right:5%">
        <table id="protab" ></table>
        </div>
   
</body>
</html>